##
## Copyright 2014-2016 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
#set ($scriptEngine = $requestList.getClass().forName('javax.script.ScriptEngineManager').newInstance().getEngineByName('JavaScript'))
#foreach ($request in $requestList)
#set ($tableMap = $request.tableMap)
$request.enableOutputDirectory()
$manager.makeDirectory($request.generateDirPath)

#if ($request.isResourceTypeJsonSchema())
  #loadTypeMap()
  #set ($resourceTypeRemoteApi = "RemoteApi")
  #if ($request.requestName.startsWith($resourceTypeRemoteApi))
    $manager.info("gen remote api: ${request.requestName}")
    $scriptEngine.eval("var definitionKey = $tableMap.definitionKey")
    $scriptEngine.eval("var subPackage = $tableMap.subPackage")
    $scriptEngine.eval("var abstractBehaviorClassName = $tableMap.abstractBehaviorClassName")
    $scriptEngine.eval("var bsBehaviorClassName = $tableMap.bsBehaviorClassName")
    $scriptEngine.eval("var exBehaviorClassName = $tableMap.exBehaviorClassName")
    $scriptEngine.eval("var requertClassName = $tableMap.requertClassName")
    $scriptEngine.eval("var responseClassName = $tableMap.responseClassName")
    $scriptEngine.eval("var nestClassName = $tableMap.nestClassName")
    $scriptEngine.eval("var fieldName = $tableMap.fieldName")

    #set ($jsonFreeAgent = $request.getClass().forName("org.dbflute.logic.manage.freegen.table.json.DfJsonFreeAgent").newInstance())
    #set ($swaggerJsonMap = $jsonFreeAgent.decodeJsonMap($request.resourceName, $tableMap.swaggerJsonPath))
    #foreach($swaggerJsonEntry in $swaggerJsonMap.entrySet())
      #if ($swaggerJsonEntry.key == 'definitions')
        #set ($definitionMap = $swaggerJsonEntry.value)
      #end
    #end

    #set ($scheme = $request.requestName.replace($resourceTypeRemoteApi, ''))
    #set ($schemePackage = $manager.decamelize($request.requestName.replace($resourceTypeRemoteApi, '')).replaceAll('_', '.').toLowerCase())
    #set ($bsBehaviorMap = {})
    #set ($exBehaviorMap = {})
    #foreach($swaggerJsonEntry in $swaggerJsonMap.entrySet())
      #if ($swaggerJsonEntry.key == 'paths')
        #set ($pathMap = $swaggerJsonEntry.value)
        #foreach($pathEntry in $pathMap.entrySet())
          #if ($pathEntry.key.matches($tableMap.targetUrlRegex))
            #set ($multipleHttpMethod = $pathEntry.value.size() != 1)
            #foreach($methodEntry in $pathEntry.value.entrySet())
              ## request
              #foreach($parameter in $methodEntry.value['parameters'])
                #processRemoteApiBean('requert', $parameter, $methodEntry.key, $multipleHttpMethod)
              #end
              ## response
              #foreach($responseEntry in $methodEntry.value['responses'].entrySet())
                #processRemoteApiBean('response', $responseEntry.value, $methodEntry.key, $multipleHttpMethod)
              #end
            #end
            #keepRemoteApiBehavior($pathEntry.key)
          #end
        #end
      #end
    #end

    #set ($abstractBehaviorSubPackage = "${schemePackage}")
    #set ($abstractBehaviorClassName = $scriptEngine.invokeFunction('abstractBehaviorClassName', $scheme))
    #set ($path = "${request.generateDirPath}${abstractBehaviorSubPackage.replaceAll('\.', '/')}/${abstractBehaviorClassName.replaceAll('\.', '/')}.java")
    #mkdir($path)
    #generateEx("./remoteapi/RemoteApiAbstractBehavior.vm", $path)    

    #foreach($bsBehavior in $bsBehaviorMap.values())
      #set ($subPackage = ${bsBehavior['subPackage']})
      #set ($class = $bsBehavior['class'])
      #set ($path = "${request.generateDirPath}${subPackage.replaceAll('\.', '/')}/${class.replaceAll('\.', '/')}.java")
      #mkdir($path)
      #generate("./remoteapi/RemoteApiBsBehavior.vm", $path)
    #end

    #foreach($exBehavior in $exBehaviorMap.values())
      #set ($subPackage = ${exBehavior['subPackage']})
      #set ($class = $exBehavior['class'])
      #set ($baseSubPackage = ${exBehavior['baseSubPackage']})
      #set ($baseClass = $exBehavior['baseClass'])
      #set ($path = "${request.generateDirPath}${subPackage.replaceAll('\.', '/')}/${class.replaceAll('\.', '/')}.java")
      #mkdir($path)
      #generateEx("./remoteapi/RemoteApiExBehavior.vm", $path)
    #end
  #end
#end
#end

#macro(mkdir, $path)
  $manager.makeDirectory($path)
#end

#macro(generate, $src, $dest)
  $generator.parse($src, $dest, "", "")
  $request.info("generate('${path}')")
#end

#macro(generateEx, $src, $dest)
  #if (!$files.file(${generator.outputPath},$dest).exists())
    $generator.parse($src, $dest, "", "")
    $request.info("generate('${path}')")
  #end
#end

#macro(keepRemoteApiBehavior, $url)
  #set ($subPackage = ${url.replaceAll('_', '').replaceAll('^/', '').replaceAll('/$', '').replaceAll('/\{.*?\}', '').replaceAll('/', '.').toLowerCase().replaceAll('\.[^.]*$', '')})
  #set ($subPackage = $scriptEngine.invokeFunction('subPackage', $subPackage))
  #set ($class = $scriptEngine.invokeFunction('bsBehaviorClassName', $scheme, $manager.camelize($subPackage.replaceAll('\.', '_'))))
  #set ($subPackage = "${schemePackage}.${subPackage}")
  $bsBehaviorMap.put("${subPackage}.${class}", { 'subPackage': ${subPackage}, 'class': ${class} })
  #set ($baseSubPackage = $subPackage)
  #set ($baseClass = $class)
  #set ($subPackage = ${url.replaceAll('_', '').replaceAll('^/', '').replaceAll('/$', '').replaceAll('/\{.*?\}', '').replaceAll('/', '.').toLowerCase().replaceAll('\.[^.]*$', '')})
  #set ($subPackage = $scriptEngine.invokeFunction('subPackage', $subPackage))
  #set ($class = $scriptEngine.invokeFunction('exBehaviorClassName', $scheme, $manager.camelize($subPackage.replaceAll('\.', '_'))))
  #set ($subPackage = "${schemePackage}.${subPackage}")
  $exBehaviorMap.put("${subPackage}.${class}", { 'subPackage': ${subPackage}, 'class': ${class}, 'baseSubPackage': ${baseSubPackage}, 'baseClass': ${baseClass} })
#end

#macro(processRemoteApiBean, $type, $parameter, $httpMethod, $multipleHttpMethod)
  #set ($definitionKey = '')
  #if ($parameter.schema && $parameter.schema['$ref'])
    #set ($definitionKey = $parameter.schema['$ref'].replace('#/definitions/', '')))
  #end
  #if ($definitionKey != '')
    #set ($definition = $definitionMap[$scriptEngine.invokeFunction('definitionKey', $definitionKey)])
    #set ($subPackage = ${pathEntry.key.replaceAll('_', '').replaceAll('^/', '').replaceAll('/$', '').replaceAll('/\{.*?\}', '').replaceAll('/', '.').toLowerCase()})
    #set ($subPackage = $scriptEngine.invokeFunction('subPackage', $subPackage))
    #set ($class = $scriptEngine.invokeFunction("${type}ClassName", $scheme, $manager.camelize($subPackage.replaceAll('\.', '_')), $manager.initCap($httpMethod), $multipleHttpMethod))
    #set ($subPackage = "${schemePackage}.${subPackage}")
    #set ($path = "${request.generateDirPath}${subPackage.replaceAll('\.', '/')}/${class.replaceAll('\.', '/')}.java")
    #mkdir($path)
    #generate("./remoteapi/RemoteApiBean.vm", $path)
  #end    
#end

#macro(adjustType, $type, $class)
#set ($adjustType = ${type})
#set ($index = ${adjustType.lastIndexOf('.')})
#if ($index != -1)
#set ($index = $index + 1)
#set ($adjustType = ${adjustType.substring($index)})
#end
#set ($adjustType = $adjustType.replaceAll("^.*\$", ''))
#set ($adjustType = $scriptEngine.invokeFunction('nestClassName', $scheme, $adjustType))
#end

#macro(loadTypeMap)
  #set ($typeMap = {})
  $typeMap.put('int32', 'Integer')
  $typeMap.put('int64', 'Long')
  $typeMap.put('float', 'Float')
  $typeMap.put('double', 'Double')
  $typeMap.put('string', 'String')
  $typeMap.put('byte', 'byte[]')
  $typeMap.put('boolean', 'Boolean')
  $typeMap.put('date', 'java.time.LocalDate')
  $typeMap.put('date-time', 'java.time.LocalDateTime')
  $typeMap.put('array', 'java.util.List')
  #if ($tableMap.yourCollections)
    $typeMap.put('array', $tableMap.yourCollections)
  #end
#end
