##
## Copyright 2014-2016 the original author or authors.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
## either express or implied. See the License for the specific language
## governing permissions and limitations under the License.
##
${manager.allClassCopyright}package ${request.package}.${subPackage};
#set ($importSet = $request.getClass().forName("java.util.LinkedHashSet").newInstance())
#foreach($propertyEntry in $definition.value.properties.entrySet())
#set ($property = $propertyEntry.value)
#if (${property.required})
#set($added = $importSet.add('org.lastaflute.web.validation.Required'))
#end
#end
#foreach($import in $importSet)

import ${import};
#end

/**
 * ${class}.
 * @author FreeGen
 */
public class ${class} {
#foreach($propertyEntry in $definition.value.properties.entrySet())
#set ($fieldName = $propertyEntry.key)
#set ($property = $propertyEntry.value)

#if (${property.description})
    /** ${property.description}. */
#end
#if (${property.required})
    @Required
#end
#if ($property.type == 'array')
#if (${typeMap[$property.items.format]})
#set ($fieldClass = "${typeMap[$property.type]}<${typeMap[$property.items.format]}>")
#elseif (${typeMap[$property.items.type]})
#set ($fieldClass = "${typeMap[$property.type]}<${typeMap[$property.items.type]}>")
#else
#set ($fieldClass = "${typeMap[$property.type]}<$property.items['$ref'].replace('#/definitions/', '')>")
#end
#elseif (${typeMap[$property.format]})
#set ($fieldClass = ${typeMap[$property.format]})
#elseif (${typeMap[$property.type]})
#set ($fieldClass = ${typeMap[$property.type]})
#else
#set ($fieldClass = $property['$ref'].replace('#/definitions/', ''))
#end
    public ${fieldClass} ${fieldName};
#end
}
