## _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
## DBFluteOptionalGen: generate anything for DBFlute optional functions
##
## This module is application customization area.
## So you can add your custom FreeGen here.
## _/_/_/_/_/_/_/_/_/_/

##
## generate Entity Cache for DBFlute entities
##
#parse("./dbfluteOptional/entitycache/ControlFreeGenEntityCacheJava.vm")
